
<div class="dashboard-container">
    <div class="content">
        <!-- TABLE -->    
         <div class="card flex justify-content-center">
            <div class="mapa-content">
                <p-card header="Mapa TVL">
                    <app-mapa></app-mapa>
                </p-card>
            </div>
        </div>   
        <!-- CHART -->
         <div class="card flex justify-content-center">
            <p-card header="Charts">
                <div class="chart-container">
                    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                    <p-chart type="line" [data]="basicData" [options]="basicOptions" style="height: 445px"></p-chart>
                </div>
            </p-card>
        </div>

    </div>
    <app-footer></app-footer>
</div>