<div class="container">
    <h2>Cadastro de Usuário</h2>
  
    <div class="input-group-container">
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="nome" [(ngModel)]="usuario.nome" />
          <label for="nome">Nome</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="email" [(ngModel)]="usuario.email" />
          <label for="email">E-mail</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="password" type="password" [(ngModel)]="usuario.password" />
          <label for="password">Senha</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="logradouro" [(ngModel)]="usuario.endereco.logradouro" />
          <label for="logradouro">Logradouro</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="localidade" [(ngModel)]="usuario.endereco.localidade" />
          <label for="localidade">Localidade</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="estado" [(ngModel)]="usuario.endereco.estado" />
          <label for="estado">Estado</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-floatLabel>
          <input pInputText id="uf" [(ngModel)]="usuario.endereco.uf" />
          <label for="uf">UF</label>
        </p-floatLabel>
      </div>
  
      <div class="input-field">
        <p-inputMask 
            mask="99999-999" 
            [(ngModel)]="usuario.endereco.cep" 
            placeholder="99999-999" />
      </div>
  
      <button pButton type="button" label="Salvar" class="btn-salvar" (click)="salvarUsuario()"></button>
    </div>
  </div>
  