/* Centraliza o container na tela */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza o conteúdo verticalmente */
}

/* Estiliza o título */
.container h2 {
    margin-bottom: 20px; /* Espaçamento entre o título e o formulário */
}

/* Centraliza e espaça os campos */
.input-group-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Define uma largura fixa para o formulário */
}

/* Cada div ao redor dos inputs */
.input-field {
    margin-bottom: 25px; /* Aumenta o espaçamento entre os campos */
}

/* Ajusta o estilo dos campos individuais */
p-floatLabel {
    width: 100%; /* O input ocupa toda a largura do container */
}

.btn-salvar {
    width: 150px; /* Defina uma largura fixa */
    height: 40px; /* Defina uma altura fixa */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    margin-top: 20px; /* Espaçamento acima do botão */
  }