/* footer.component.css */
footer {
    background-color: #f8f9fa; /* Cor de fundo para o footer */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto no centro */
  }
  