/* Organiza os campos em 2 colunas */
.form-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0; /* Remove margens desnecessárias */
    padding: 0; /* Remove padding interno */
  }
  
  /* Ajuste para o título */
  h1 {
    margin-top: 0; /* Remove margem superior */
    margin-bottom: 1rem; /* Espaço controlado abaixo do título */
    font-size: 24px;
  }
  
  /* Ajusta os campos dentro de cada célula */
  .form-field {
    display: flex;
    flex-direction: column;
  }
  
  /* Centraliza o botão e ajusta o tamanho */
  .form-button {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 150px;
    height: 40px;
  }
  
  /* Garante que o formulário seja alinhado no topo do dashboard */
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo seja alinhado ao topo */
    padding: 20px; /* Um espaçamento leve ao redor do conteúdo */
    height: 100%; /* Ocupar toda a altura disponível */
  }
  