<!-- cadastro-generico.component.html -->
<div class="form-grid-container">
    <h1>{{ titulo }}</h1> <!-- Título do formulário (por exemplo, Cadastro de Cliente) -->
    <br />
    <ng-container *ngFor="let campo of campos">
        <div class="form-field">
            <label [for]="campo.id">{{ campo.label }}</label>

            <!-- Input para texto -->
            <input 
                *ngIf="campo.tipo === 'text'"
                pInputText 
                [id]="campo.id"
                [(ngModel)]="formData[campo.id]" 
                [placeholder]="[campo.placeholder]"/>

            <!-- AutoComplete para selecionar cidade -->
            <p-autoComplete 
                *ngIf="campo.tipo === 'autocomplete'" 
                [(ngModel)]="formData[campo.id]" 
                [suggestions]="campo.suggestions"
                [group]="campo.group"
                (completeMethod)="campo.completeMethod"
                [placeholder]="campo.placeholder">
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                        <img 
                            [src]="campo.imgSrc"
                            [class]="'mr-2 flag flag-' + group.value" 
                            style="width: 20px" />
                        <span>{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-autoComplete>

            <!-- Input para números -->
            <p-inputNumber 
                *ngIf="campo.tipo === 'number'" 
                [inputId]="campo.id"
                [(ngModel)]="formData[campo.id]" 
                [placeholder]="campo.placeholder"/>
        </div>
    </ng-container>

    <!-- Botão de salvar -->
    <div class="form-field form-button">
        <button pButton type="button" label="Salvar" (click)="onSave()"></button>
    </div>
</div>
