<p-panel header="Tabela de Registros" class="card">
  <p-table 
      #dt 
      [value]="dados" 
      [columns]="colunas" 
      [paginator]="true" 
      [rows]="10" 
      [resizableColumns]="true" 
      selectionMode="multiple" 
      [(selection)]="selectedItems" 
      [tableStyle]="{ 'min-width': '50rem' }"
      [exportHeader]="'customExportHeader'"
      [globalFilterFields]="globalFilterFields">
      
      <!-- Cabeçalho personalizado com botão de exportação -->
      <ng-template pTemplate="caption">
          <div style="text-align: left">
              <p-button class="btn-excel"
                  icon="pi pi-external-link" 
                  label="Exportar" 
                  (onClick)="dt.exportCSV()" />
          </div>
      </ng-template>
      
      <!-- Cabeçalho das colunas -->
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{ col.header }}
                  <p-columnFilter 
                    [field]="col.field" 
                    [matchMode]="'contains'" 
                    [display]="'menu'">
                  </p-columnFilter>
              </th>
              <th *ngIf="!isOcultar"></th>
              <th *ngIf="!isOcultar"></th>
          </tr>
      </ng-template>
      
      <!-- Corpo da tabela -->
      <ng-template pTemplate="body" let-item let-columns="columns">
          <tr [pSelectableRow]="item">
              <td *ngFor="let col of columns">
                  {{ item[col.field] }}
              </td>
              <td *ngIf="!isOcultar" (click)="editar(item)"><i class="pi pi-pencil" style="color: #708090"></i></td>
              <td *ngIf="!isOcultar" (click)="deletar(item)"><i class="pi pi-trash" style="color: #7c2626"></i></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>


<app-modal-generico 
[titulo]="'Atualizar registro'"
[campos]="modalFields"
(onSave)="handleSave($event)"
(onCancel)="handleCancel()">
</app-modal-generico>
<p-toast appendTo="body" styleClass="custom-toast"></p-toast>