/* Centraliza o conteúdo do painel */
.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centraliza verticalmente */
  padding: 20px;
  opacity: 0.80;
  }

/* Painel do formulário com sombreamento */
.form-panel {
  width: 100%;
  max-width: 700px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  border-radius: 8px; /* Bordas arredondadas */
}

/* Organiza os campos em 2 colunas */
.form-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Ajuste para o título */
h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 24px;
}

/* Ajusta os campos dentro de cada célula */
.form-field {
  display: flex;
  flex-direction: column;
}

/* Centraliza o botão e ajusta o tamanho */
.form-button {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  width: 150px;
  height: 40px;
}

::ng-deep button {
  background-color: rgb(3, 17, 80);
  border: rgb(3, 17, 80);
}

/* Garante que o formulário seja alinhado no topo do dashboard */
.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  height: 100%;
}

