.dashboard-container {
width: 100%;
height: 100vh;
}

.card {
    padding: 1rem; /* Ajuste o padding conforme necessário */
}

.chart-container {
    display: flex; /* Usa Flexbox para alinhar os gráficos */
    gap: 1rem; /* Espaçamento entre os gráficos */
}

p-chart {
    margin: 3rem;
    flex: 1; /* Faz com que cada gráfico ocupe uma parte igual do contêiner */
    min-width: 300px; /* Define a largura mínima de cada gráfico */
}

.form-group {
    margin-bottom: 1.5rem; /* Espaçamento entre os campos */
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem; /* Espaçamento entre o label e o input */
}

.form-input {
    width: 100%; /* O input vai ocupar toda a largura disponível */
    padding: 0.5rem; /* Adiciona padding interno ao input */
    border: 1px solid #ccc;
    border-radius: 4px;
}
