.dashboard-container {
width: 100%;
height: 100vh;
}

.card {
    padding: 1rem; /* Ajuste o padding conforme necessário */
}

.chart-container {
    display: flex; /* Usa Flexbox para alinhar os gráficos */
    gap: 1rem; /* Espaçamento entre os gráficos */
}

p-chart {
    margin: 3rem;
    flex: 1; /* Faz com que cada gráfico ocupe uma parte igual do contêiner */
    min-width: 300px; /* Define a largura mínima de cada gráfico */
}